html {
  height: 100vh;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.Banner{
  font-size: calc(10px + 4vmin);
  height: 70vh;
}

.black_square{
  color: white;
  background-color: black;
}  

.white_square{
  color: black;
  background-color: white;
}  

.Info{
  /*font-weight: bold;*/
  font-size: calc(10px + 3vmin);
}

.Vision{
  font-size: calc(10px + 3vmin);
}

.logo{
  height: 30px !important
}

.content{
  height: 100%;
  background-position: right bottom;
  background-image: url(./assets/bg-2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-light .navbar-nav .nav-link {
  color: #6262a0
}

.navbar {
  position: absolute;
  background-color: white;
  z-index: 1200;
  width: 100%;
}
@media only screen and (max-width: 991px){
  .navbar{
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.06);
    padding: 0 !important;
  }
  #space{
  display: none;
}
}
