html {
  height:100%;
}

.Background {
  pointer-events: none;
  top:0;
  background-color: #282c34;
  position: fixed;
  overflow: hidden;
  height:100%;
  z-index: -1;
  text-align: justify;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.Banner{
  margin-top: calc(38vmin);
  text-align: center;
  font-size: calc(10px + 4vmin);
  color: white;
}
