.cls-1,.cls-3{
  fill:#222221;
}
.cls-2{
  fill:#e2e2e1;
}
.cls-3{
  font-size:42px;
  font-family:Nunito-ExtraLight, Nunito ExtraLight;
  letter-spacing:0.09em;
}
.cls-4{
  letter-spacing:0.09em;
}
.cls-5{
  letter-spacing:0.17em;
}
.cls-6{
  letter-spacing:0.15em;
}.cls-7{
  letter-spacing:0.17em;
}
